Ingestion Pipeline.json
{
  "name": "Ingestion Pipeline",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "13oU8R6BpqXevx5ctZcYkDyJYw7DIKpsX",
          "mode": "list",
          "cachedResultName": "sales-knowledge-base",
          "cachedResultUrl": "https://drive.google.com/drive/folders/13oU8R6BpqXevx5ctZcYkDyJYw7DIKpsX"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -384,
        0
      ],
      "id": "372995a1-d3ee-416f-88f2-6f1232e0637a",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fvq569PHDMrG27ea",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -80,
        0
      ],
      "id": "e798aa34-7d51-4c13-8bee-4e0afd593f45",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "Fvq569PHDMrG27ea",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "sales-knowledge-base",
          "mode": "list",
          "cachedResultName": "sales-knowledge-base"
        },
        "options": {
          "pineconeNamespace": "gtm-docs"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        384,
        0
      ],
      "id": "4eb75b05-33d2-4642-9a2f-d0a7da997013",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "BPmCLvupwbm4XAE0",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 512
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        176,
        208
      ],
      "id": "c3311dd9-4d07-487f-b5af-4235d780803e",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "VwrhD5kIKkZROPql",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        352,
        208
      ],
      "id": "d96a6a5d-7f24-417c-8208-c3f88606c853",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 30,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        352,
        352
      ],
      "id": "fc93e8cc-d348-44be-87dd-902507c3b2a2",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "## Google Drive Trigger \n\nWatches the /sales-knowledge-base folder in Google Drive.\nFires automatically when a new file is added or an existing file is updated.\nSupported file types: .docx, .pdf",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -256
      ],
      "typeVersion": 1,
      "id": "b67b3d1e-d2bc-498f-a71f-36c12c1ff6b2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Google Drive Download \n\nDownloads the file binary from Google Drive using the file ID\npassed from the trigger node.\nRequired before the Pinecone node can process the document.",
        "height": 240,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        -256
      ],
      "typeVersion": 1,
      "id": "0295577d-0425-42ae-b2a0-373e1dd88669",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Pinecone Vector Store\n\nIngestion node receives the document binary, chunks it,\nembeds each chunk, and inserts the vectors into Pinecone.\nIndex: sales-knowledge-base | Namespace: gtm-docs\nOperation: Insert Documents",
        "height": 240,
        "width": 288,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -256
      ],
      "typeVersion": 1,
      "id": "197969b8-253e-48bf-a28f-83d38f848c3a",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Default Data Loader\n\nParses the raw binary file and loads its content\nfor the text splitter to process.\nData Type: Binary\nNote: Extract from File node is not needed — this node\nhandles .docx parsing directly.",
        "height": 240,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        80
      ],
      "typeVersion": 1,
      "id": "41c9d507-58b6-478d-ac2e-8f61c81132a7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Recursive Character Text Splitter\n\nSplits document text into overlapping chunks before embedding.\nChunk Size: 512 tokens | Chunk Overlap: 50 tokens\nOverlap preserves context across chunk boundaries\nso retrieval doesn't miss split sentences.",
        "height": 240,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        352
      ],
      "typeVersion": 1,
      "id": "f331736f-9d80-4f44-adfb-d6a032c4007b",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## OpenAI Embeddings\n\nConverts each text chunk into a 1536-dimension vector\nusing text-embedding-3-small.\nMust match the dimension setting of the Pinecone index.",
        "height": 240,
        "width": 288,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -160,
        176
      ],
      "typeVersion": 1,
      "id": "c1638e7e-7cdc-4d5e-84bb-a35511757790",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        128,
        0
      ],
      "id": "5efba95f-10eb-492e-94ff-2c0350228aa4",
      "name": "Extract from File"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        []
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "5a9382a1-6f7b-4116-85dd-fd4e5a3d4b34",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d2926e605d262bee5909c7941095358b0b2fbb483629d7cc273c8d86e3c55860"
  },
  "id": "AaZw56qo1MOx2fsg",
  "tags": []
}